<div class="container">
  <h1>Teddies</h1>
  <div class="row">
    <% @teddies.each do |teddy| %>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <%= link_to image_tag(teddy.photo_url), teddy_path(teddy) %>
          <div class="card-body">
            <h3><%= link_to teddy.name, teddy_path(teddy) %></h3>
            <p><%= teddy.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(teddy.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
